python-dotenv==1.0.1
requests==2.32.3
orjson==3.10.7
numpy==2.1.0
faster-whisper==1.0.3
sounddevice==0.4.7
pytesseract==0.3.13
Pillow==10.4.0
webrtcvad==2.0.10
rapidfuzz==3.6.1
geoip2==4.8.0
miniupnpc==2.2.8
